.heading {
  
  background-color: lightgray;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ctm1 {
  width: 50%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  
}

#logo {
  width: 10%;
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 2%;
}

.ingredientsSub {
  border: 1px solid black;
  margin-right: 1%;
}